<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897081432580-3sj5481ie58g8f3o5q1dbo5ihimtep8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897081432580-3sj5481ie58g8f3o5q1dbo5ihimtep8a</string>
	<key>API_KEY</key>
	<string>AIzaSyArLpBSannkKan-FMzEGJqMLXSFK4xEfAw</string>
	<key>GCM_SENDER_ID</key>
	<string>897081432580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theWall</string>
	<key>PROJECT_ID</key>
	<string>authtutorial1-e78bd</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial1-e78bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897081432580:ios:f1b82f4464d8c8f8bd7351</string>
</dict>
</plist>